<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
</head>
<body>

<div class="container responsive_body">
  <div class="row" style="background: #43425D;">
    <!-- the left side column -->
    <div class="col-sm-2 sidebar">
          <h1  class="side_header">IMPEKABLE</h1>
          <ul style="padding: 12px;">
            <li>
              <a href="#" class="home">
                <span style="padding-right: 15px;">
                  <img src="assets/home_0.png" style="padding-left: 2%;"> 
                </span>
                Home
              </a>
            </li>
            <li style="padding-top: 20%;">
              <a href="#" class="dashboard">
                <span style="padding-right: 15px;">
                  <img src="assets/chart_0.png" style="padding-left: 2%;">
                </span>
                Dashboard
              </a>
            </li>
            <li style="padding-top: 20%;">
              <a href="#" class="dashboard">
                <span style="padding-right: 15px;">
                  <img src="assets/mail_0.png" style="
                  padding-left: 2%;">
                </span>
                Inbox
              </a>
            </li>
            <li style="padding-top: 20%;">
              <a href="#" class="dashboard">
                <span style="padding-right: 15px;">
                  <img src="assets/bar_0.png" style="
                  padding-left: 2%;">
                </span>
                Products
              </a>
            </li>
          </ul>
    </div>

    <!-- left side of the column -->
    <div class="col-sm-10 main-body">

    <!-- header -->
          <nav class="navbar navbar-expand-md navbar-dark nav-header " id="banner">
            <a class="navbar-brand" href="#" style="width: 10%;">
              <span> 
                <img src="assets/menu_0.png">
              </span> 
            </a>
            <a class="navbar-brand" href="#" style="width:60%">
              <span>
                <img src="assets/search_0.png" style="padding-right: 2%;">
                <input type="text"  placeholder="Search transactions, invoices or help" style="border: none;">
              </span>
            </a>
              <a class="navbar-brand nav-right">
                <span style="padding-right: 5%;"> 
                  <img src="assets/notify_0.png">
                </span>
                <span style="padding-right: 5%;">
                  John Doe
                </span>
                <span style="padding-right: 5%;">
                 <img src="assets/Jana Navakova.jpg" class="profile_pic">
                </span>
              </a>
          </nav>
          <!-- the -->
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card stats">
         <div class="row">
           <div class="col-md-6 stats_text">
             Statistics
           </div>
           <div class="col-md-6 ">
             <button class="dropdown">Last 6 months</button>
           </div>
           <div class="row">
            <highcharts-chart
            [Highcharts] = "highcharts" 
            [options] = "chartOptions" 
            style = "width: 290px !important;
                height: 400px !important;display: block;">
         </highcharts-chart>
           </div>
         </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card sales" >
          <div class="row sales_text" >
            Sales Distribution
          </div>
          <div class="row">
            <app-pie></app-pie>
          </div>
        </div>
      </div>
      <div class=" col-md-12 grid-margin">
        <div class="card" style="background: white;">
          <div class="card-body">
            <div class="row referer">
              Referrer
            </div>
            <div class="table-responsive">
              <table class="table table-borderless">
                <tr class="refer_table" >
                  <td >Location</td>
                  <td >Views</td>
                  <td >Sales</td>
                  <td>Conversion</td>
                  <td>Total</td>
                </tr>
                <tr style="border-bottom: 1px solid #F1F1F3;">
                  <td >facebook.com</td>
                  <td >3467</td>
                  <td >753</td>
                  <td >53%</td>
                  <td >$12,1234</td>
                </tr>
                <tr style="border-bottom: 1px solid #F1F1F3;">
                  <td >twitter.com</td>
                  <td >4634</td>
                  <td >234</td>
                  <td >34%</td>
                  <td >$22,342</td>
                </tr>
                <tr style="border-bottom: 1px solid #F1F1F3; ">
                  <td >Direct, email, IM</td>
                  <td >5354</td>
                  <td >435</td>
                  <td >23%</td>
                  <td >$13,3424</td>
                </tr>
                <tr style="border-bottom: 1px solid #F1F1F3;">
                  <td >linkedin.com</td>
                  <td >54634</td>
                  <td >453</td>
                  <td >65%</td>
                  <td >$64,234</td>
                </tr>
            <div class="row show">
              <a href="#">Show More</a>
            </div>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card" style=" background: #FFFFFF;">
          <div class="card-body">
            <div class="card-title" >
               <img src="assets/Jana Navakova.jpg" class="main_photo">
               <div style="font: Bold 18px/13px Source Sans Pro;
               letter-spacing: 0px;
               color: #4D4F5C;
               opacity: 1;    padding-top: 20px;">
                Nick Herasimenka
               </div>
               <div style="font: Regular 15px/25px Source Sans Pro;
               letter-spacing: 0px;
               color: #43425D;
               opacity: 0.5;">United States</div>
            </div>  
            <div class='row' style="   
          padding-top: 5px;">
              <div class="col-md-3"><img src="assets/insta_0.png"></div>
              <div class="col-md-3"><img src="assets/twitter_0.png"></div>
              <div class="col-md-3"><img src="assets/facebook_0.png"></div>
              <div class="col-md-3"><img src="assets/mail_0.png"></div>
            </div>
            <div class="row" style=" border-top: 1px solid #dee2e6 !important;margin-top: 12px;padding-top: 10px;">
               <div class="col-md-6" style="text-align: left;
               font: Regular 20px/27px Segoe UI;color:#707070     ">Our Users</div>
               <div class="col-md-6" style="text-align:end"><img src="assets/more_0.png"></div>
            </div>
          
            <div class="row">
              <div class="col-md-2" >
                <img src="assets/Drew James.png" style="width:60px;height:60px;border-radius:50pt">
              </div>
              <div class="col-md-10">
                <div class="row" style="text-align: start;
                padding-left: 26px;font: Bold 18px/13px Source Sans Pro;
                letter-spacing: 0px;
                color: #4D4F5C;padding-top: 10%;">
                  Drew James
                </div>
                <div class="row" style="font: Regular 15px/25px Source Sans Pro;
                letter-spacing: 0px;
                color: #43425D;
                opacity: 0.5;font-size: smaller;padding-top: 5%;">
                  Unites states   Mobile : 871.567.4877
                </div>
              </div>
                  </div>

                  <div class="row" style="padding-top: 4%;">
                    <div class="col-md-2" >
                      <img src="assets/Bavid kames.png" style="width:60px;height:60px;border-radius:50pt">
                    </div>
                    <div class="col-md-10">
                      <div class="row" style="text-align: start;
                      padding-left: 26px;font: Bold 18px/13px Source Sans Pro;
                      letter-spacing: 0px;
                      color: #4D4F5C;padding-top: 10%;">
                        Bavid Kames
                      </div>
                      <div class="row" style="font: Regular 15px/25px Source Sans Pro;
                      letter-spacing: 0px;
                      color: #43425D;
                      opacity: 0.5;font-size: smaller;padding-top: 5%;">
                        Unites states   Mobile : 871.567.4877
                      </div>
                    </div>
                        </div>
                        <div class="row" style="padding-top: 4%;">
                          <div class="col-md-2" >
                            <img src="assets/Lavid Emes.png" style="width:60px;height:60px;border-radius:50pt">
                          </div>
                          <div class="col-md-10">
                            <div class="row" style="text-align: start;
                            padding-left: 26px;font: Bold 18px/13px Source Sans Pro;
                            letter-spacing: 0px;
                            color: #4D4F5C;padding-top: 10%;">
                              Lavid Emes
                            </div>
                            <div class="row" style="font: Regular 15px/25px Source Sans Pro;
                            letter-spacing: 0px;
                            color: #43425D;
                            opacity: 0.5;font-size: smaller;padding-top: 5%;">
                              Unites states   Mobile : 871.567.4877
                            </div>
                          </div>
                              </div>
                  </div>
        </div>
        <div class="card" style="    margin-top: 5%;
        background: white;">
          <div class="card-body">
          <div class="card-title">
            <div class="row" style="text-align: left;
            font: Regular 20px/27px Segoe UI;
            letter-spacing: 0px;
            color: #707070;">
              Products Videos
              <img src="assets/more_0.png" style="float:right;padding-top: 2%;">
            </div>
            <div class="row">


              <div class="embed-responsive embed-responsive-4by3">
               
            <a href="https://youtu.be/Oy6hk6Y7VHQ"><img src="assets/Video tumbnail.png"></a>
            </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

     </div>
  </div>
</div>
</body>
</html>

