.highcharts-figure, .highcharts-data-table table {
    min-width: 300px; 
    max-width: 300px;
    // min-width:24%;
    // max-width:25%;
    
}
.highcharts-root{
    height: 250px !important;
}
.highcharts-title{
    display: none;
}
